.chalice {
    position: absolute;
    z-index: -1;
}

.simulator {
    background-image: url(./chalice.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 27% auto;
    height: 100vh;
}

.simulator__rune-one {
    align-self: end;
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
}

.simulator__rune-two {
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: center;
}

.simulator__rune-three {
    grid-column-start: 3;
    grid-row-start: 2;
    justify-self: center;
}
