@import "../../styles/variables";
@import "../../styles/mixins";

.menu {
    background-color: #222;
    margin-left: -75vw;
    transition: margin-left 0.5s ease-in-out, box-shadow 0.5s linear;
    width: 75vw;
    z-index: $z-index-menu;

    @media (min-width: 600px) {
        margin-left: -50vw;
        width: 50vw;
    }

    @media (min-width: 1200px) {
        margin-left: -25vw;
        width: 25vw;
    }

    &.menu--is-open {
        box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.5);
        margin-left: 0;
    }

    &__list {
        list-style-type: none;
        margin: $spacing-default 0 0;
        padding: 0;
    }

    &__list-link {
        color: $color-typography;
        display: block;
        padding: $spacing-default;
        position: relative;
        text-decoration: none;
        transition: border-bottom 0.3s linear;
        width: 100%;

        @include noButtonHighlight;

        &::before {
            background-color: $color-accent;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transition: width 0.3s linear;
            width: 0;
        }

        &:hover {
            color: $color-typography;
        }

        &--active {
            &::before {
                width: 5px;
            }
        }
    }
}
