@import "../../styles/variables";

.calc-group {
    display: grid;
    grid-template-rows: 1fr auto;

    &__tabs {
        border-top: 1px solid #000;
        bottom: 0;
        display: flex;
        grid-row-start: 2;
        list-style-type: none;
        margin: 0;
        padding: 0;
        z-index: $z-index-results;
    }

    &__tab {
        align-items: center;
        background-color: $color-primary;
        cursor: pointer;
        display: flex;
        font-weight: bold;
        height: 60px;
        justify-content: center;
        position: relative;
        text-align: center;
        width: 50vw;

        &::before {
            background-color: $color-accent;
            bottom: 0;
            content: "";
            height: 0;
            position: absolute;
            transition: height 0.3s linear;
            width: 100%;
        }

        &--selected {
            &::before {
                height: 5px;
            }
        }
    }

    &__tab-panel {
        background:
            radial-gradient(#111 15%, transparent 16%) 0 0,
            radial-gradient(#111 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px
            $color-primary;
        background-size: 16px 16px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-row-start: 1;
        height: 100%;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        transition: max-height 0.6s ease-in-out;
        width: 100%;

        &--selected {
            max-height: 100%;
            transition-delay: 0.7s;
        }
    }

    &__tab-panel-group {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__logo {
        height: 100%;
        padding: $spacing-default;
        position: absolute;
    }
}
