<html>
    <head>
        <meta charset="utf-8">
        <title>Chalice of Opulence Calculator</title>
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        <% for (let index = 0; index < htmlWebpackPlugin.files.css.length; index += 1) { %>
        <link href="<%= htmlWebpackPlugin.files.css[index] %>" rel="stylesheet" type="text/css">
        <% } %>
        <% for (let index = 0; index < htmlWebpackPlugin.files.js.length; index += 1) { %>
        <script defer src="<%= htmlWebpackPlugin.files.js[index] %>"></script>
        <% } %>
    </head>
    <body>
        <div id="appContainer"></div>
    </body>
</html>
