<html>
    <head>
        <% let GAUAID = 'UA-142172992-2'; %>
        <% if (process.env.NODE_ENV === 'production') { %>
        <% GAUAID = 'UA-142172992-1'; %>
        <% } %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%= GAUAID %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '<%= GAUAID %>');
        </script>
        <meta charset="utf-8">
        <title>Chalice of Opulence Calculator</title>
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        <% for (let index = 0; index < htmlWebpackPlugin.files.css.length; index += 1) { %>
        <link href="<%= htmlWebpackPlugin.files.css[index] %>" rel="stylesheet" type="text/css">
        <% } %>
        <% for (let index = 0; index < htmlWebpackPlugin.files.js.length; index += 1) { %>
        <script defer src="<%= htmlWebpackPlugin.files.js[index] %>"></script>
        <% } %>
    </head>
    <body>
        <div id="appContainer"></div>
    </body>
</html>
