$hamburger-types: (spin);
$hamburger-layer-color: #ddd;
$hamburger-hover-opacity: 1.0;
$hamburger-padding-x: 10px;
$hamburger-padding-y: 10px;
@import "~hamburgers/_sass/hamburgers/hamburgers";
@import "../../styles/mixins";
@import "../../styles/variables";

.hamburger:hover {
    @media (hover: hover) {
        opacity: 0.5;
    }
}

.header {
    align-items: center;
    background-color: $color-secondary;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    justify-items: center;
    width: 100vw;
    z-index: $z-index-header;

    &__heading {
        font-size: 2.8rem;
        font-weight: 900;
        margin: 0;
        transform: scaleY(2.0);
    }

    &__menu-trigger {
        height: 100%;
        justify-self: start;
        width: 80px;

        @include noButtonHighlight;

        @media (any-hover: none) {
            outline-style: none;
        }

        &--is-active {
            box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.5);;
            opacity: 0.5;
        }
    }

    &__logo {
        height: 45px;
    }
}
